@model MovieTimeProject.Models.Users.UserRegisterModel

    <div class="container">

        <label asp-for="UserName"><b>Username</b></label>
        <div class="login">
            <input type="text" placeholder="Enter Username" asp-for="UserName" id ="UserName" required>
            <p style="color:red" id="ErrorName"></p>

            <label asp-for="Password"><b>Password</b></label>
            <div class="login"> <input type="password" placeholder="Enter Password" asp-for="Password" id="Password" required> </div>
            <p style="color:red" id="ErrorPassword"></p>

            <label asp-for="RePassword"><b>Re-enter Password</b></label>
            <div class="login"> <input type="password" placeholder="Enter Password" asp-for="RePassword" id="RePassword"  required> </div>

            <button type="submit" id="submit">Login</button>
            <label>
                <div class="login"> <input type="checkbox" checked="checked" name="remember"> Remember me </div>
            </label>
        </div>
    </div>

  


