@model MovieTimeProject.Models.Movies.MovieGalleryViewModel

@{
    ViewData["Title"] = "ListOfMovies";
}
    <head>
        <link href="~/css/listOfFilms.css" type="text/css" rel="stylesheet" />
        <link href="~/css/paging.css" type="text/css" rel="stylesheet" />
    </head>
<body>

    <div class="content">

        <h1> You search after  genre @Model.searched</h1>
        <div id="contentToBeShowed">
            <partial> @Html.Partial("_listAfterGenrePartialView", Model) </partial>
        </div>

    </div>

    <script>
        function getNewPage(page_number) {
            var url = "/Movies/ListAfterGenreOnPage";
            genre = '@(Model.searched)';
            var myData = { genre: genre, currentPage: page_number };
            $.ajax({
                url: url,
                type: 'POST',
                data: myData,
                success: function (data) {
                    $('#contentToBeShowed').html(data);
                    $('#contentToBeShowed').fadeIn('fast');
                    $('html, body').animate({ scrollTop: 50 }, 'slow');

                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });
        }
    </script>
</body>
